[submodule "embeddings.cc"]
	path = embeddings.cc
	url = https://github.com/dice-group/embeddings.cc
[submodule "dice-embeddings"]
	path = dice-embeddings
	url = https://github.com/dice-group/dice-embeddings
